/**
Styling that goes with the search page and results
*/

@font-face {
    font-family: "Junicode";
    src: url("assets/woff/Junicode.woff") format('woff');
}

@font-face {
    font-family: "Junicode";
    src: url("assets/woff/Junicode-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Junicode";
    src: url("assets/woff/Junicode-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Junicode";
    src: url("assets/woff/Junicode-Italic.woff") format('woff');
    font-style: italic;
}
body {
    max-width: 800px;
    padding-inline-start: 1rem;
}
.hieroglyphs {
    display: flex;
}
.hieroglyphs img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: 100%;
}
.transliteration {
    font-family: "Junicode";
    font-style: italic;
    font-size: 120%;
}
#show-instructions {
    text-decoration: underline;
}

div.result-hit {
    padding-inline-start: 1rem;
    border-bottom: solid 2px;
}

h2.result-link {
    font-size: 1.3rem;
    font-weight: normal;
}

h2.result-link a {
    text-decoration-line: none;
    color: midnightblue;
}